body {
  padding-bottom: 175px;
}

h1, p {
  font-family: Lato;
}

h2 {
  text-align: center;
}

.MuiFormControl-root {
  text-align: center;
}

.MuiCard-root {
  max-width: 300px;
}

.MuiFormControlLabel-root {
  margin-left: 0;
}

.grid-select-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul, ol {
  list-style: none;
}