body {
  padding-bottom: 175px;
  font-family: 'Open Sans', sans-serif;
}

h1, p {
   font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: center;
}

span, div {
  font-size: 14px;
}

.MuiFormControl-root {
  text-align: center;
}

.MuiCard-root {
  max-width: 300px;
}

.MuiFormControlLabel-root {
  margin-left: 0;
}

.grid-select-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul, ol {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 769px) {
  .main {
    margin: 0 30px;
  }
}

@media only screen and (max-width: 769px) {
  .main {
    margin: 0;
  }
}

@media only screen and (min-width: 1680px) {
  body {
    margin: 0 auto;
    width: 1680px;
  }
}