.blank-image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.theme-card {
  .blank-image {
    background: #888;
  }
}

.blank-card {
  background: #fff;
  position: relative;
  padding-bottom: 100%;
  width: 100%;

  span {
    display: block;
  }
}

.product-info {
  display: grid;
}

