.blank-image {
  background: #ccc;
  height: 350px;
}

.theme-card {
  .blank-image {
    background: #888;
  }
}

.blank-card {
  background: #fff;
  height: auto;
  min-width: 200px;
  max-width: 800px;
}