<<<<<<< HEAD
.blank-image {
  background: #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.theme-card {
  .blank-image {
    background: #888;
  }
}

.blank-card {
  background: #fff;
  position: relative;
  padding-bottom: 100%;
  width: 100%;

  span {
    display: block;
  }
}

.product-info {
  display: grid;
}

=======
.blank-image {
  background: #ccc;
  height: 350px;
}

.theme-card {
  .blank-image {
    background: #888;
  }
}

.blank-card {
  background: #fff;
  height: auto;
  min-width: 200px;
  max-width: 800px;
}

>>>>>>> 4aad1850b603f4c544849af800b6ec45fe4653c2
