ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.spill-container {
  height: 100%;
  display: inline-block;
  width: 100%
}

 .miniset-list {
  display: grid;
  grid-gap: 10px;
}

.active-filters >.miniset-list {
  transition: width .3s,margin-left .3s;
}

.name {
  padding: 10px 0 5px 0;
  font-weight: bold;
  display: block;
}

.active-filters {
  float: right;
  width: calc(100% - 310px);
}

@media screen and (max-width: 599px) {
   .miniset-list  {
    // two
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
  
  .miniset-list.alt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
  } 
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    // three
   .miniset-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
  }

  .miniset-list.alt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  } 
}

@media only screen and (min-width: 769px) {
  // three cols
  .miniset-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit);
    grid-auto-flow: row;
  }
}


@media only screen and (min-width: 1680px) {
  // four cols
  .miniset-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
  }
}