html body {
  padding:0 0 0 0;
  margin:0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.spill-container {
  height: 100%;
  display: inline-block;
  width: 100%
}

 .miniset-list {
  display: grid;
  grid-gap: 10px;
}

.product-card-container {
  width: 100%;
}

.active-filters {
  transform:translateX(0);
  animation-name: content-slide-in;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.deactivate-filters {
  transform:translateX(0);
  animation-name: content-slide-out;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.name {
  padding: 10px 0 5px 0;
  font-weight: bold;
  display: block;
}

@media screen and (max-width: 599px) {
    // two
   .miniset-list  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .miniset-list.alt-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
  } 
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    // three
   .miniset-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
  }

  .miniset-list.alt-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  } 
}

@media only screen and (min-width: 769px) {
  // three cols
  .miniset-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit);
    grid-auto-flow: row;
  }
}


@media only screen and (min-width: 1680px) {
  // four cols
  .miniset-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
  }
}


@keyframes content-slide-in {
  0% {
    float: right;
    width: 100%;
  }
  40% {
    float: right;
    width: 100%;
  }
  100% {
    float: right;
    width: calc(100% - 310px);
  }
}

@keyframes content-slide-out {
  0% {
    float: right;
    width: calc(100% - 310px);
  }
 40% {
    float: right;
    width: calc(100% - 310px);
  }
  100% {
    float: right;
    width: 100%;
  }
}